@use "../base/colors" as *;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@0;1&display=swap');


$menu-width: 45vw;
$menu-height: 27vh;
$title-font: 'Playfair Display SC', serif;
$title-color: white;
$description: rgb(203, 202, 202);

.product_menu {
    width: 70vh;
    height: 15vw;
    grid-area: 1/1/1/3;
    justify-self: center;
    align-self: end;
    margin-bottom: 5vh;
    display: grid;
    z-index: 5;
    transform: translate(-8vh, 2vw);

    .product_menu-box1 {
        grid-area: 1/1;
        background-color: map-get($menu, "M1");
        width: $menu-width;
        height: $menu-height;
        z-index: 3;
        display: grid;

        #item_title {
            font-family: $title-font;
            font-size: 3em;
            color: $title-color;
            justify-self: center;
            align-self: center;
            text-decoration: underline;
            text-decoration-thickness: from-font;
            text-underline-position: from-font;
        }

        #item_description {
            text-align: center;
            color: $description;
            font-size: 1.5em;
            font-family: $title-color;
            font-style: italic;
        }
    }

    .product_menu-box2 {
        grid-area: 1/1;
        background-color: map-get($menu, "M2");
        width: $menu-width;
        height: $menu-height;
        z-index: 2;
        transition: 1s;
    }

    .product_menu-box3 {
        grid-area: 1/1;
        background-color: map-get($menu, "M3");
        width: $menu-width;
        height: $menu-height;
        z-index: 1;
        transition: 1s;

    }
}

.product_menu:hover .product_menu-box2 {
    transform: translate(-9px, 7px);
}

.product_menu:hover .product_menu-box3 {
    transform: translate(-16px, 16px);
}