@use "../base/colors" as *;

main {
    width: 100vw;
    height: 100vh;
    background-color: map-get($fondo, "FM" );

    section {
        width: 100vw;
        height: 100vh;
        display: grid;

        .main_slider {
            grid-area: 1/1/2/1;
            overflow: hidden;
            width: 100vw;
            height: 100vh;
            display: grid;
            #sl1{
                width: 100vw;
                height: 100vh;
                background-color: map-get($fondo , "F1" );
                grid-area: 1/1;
                transform: translate(100vw,0vw) ;
            }
            #sl2{
                width: 100vw;
                height: 100vh;
                background-color: map-get($fondo , "F2" );
                grid-area: 1/1;
                transform: translate(100vw,0vw) ;

            }
            #sl3{
                width: 100vw;
                height: 100vh;
                background-color: map-get($fondo , "F3" );
                grid-area: 1/1;
                transform: translate(100vw,0vw) ;
            }
            #sl4{
                width: 100vw;
                height: 100vh;
                background-color: map-get($fondo , "F4" );
                grid-area: 1/1;
                transform: translate(100vw,0vw) ;
            }
        }

        

    }
}